{% extends "partials/_base.html" %}
{% load i18n %}
{% block title %}Change Password{% endblock title %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block body %}
<div class="container-fluid mt-3">
    <div class="row justify-content-center">
        <div class="col-sm-4 col-md-6 col-lg-4">
        <div class="card card-signin">
            <div class="card-body">
                <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

                {% if token_fail %}
                    {% url 'account_reset_password' as passwd_reset_url %}
                    <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                {% else %}
                    <form method="POST" action="{{ action_url }}">
                        {% csrf_token %}
                        {% include 'partials/_form_errors.html' %}
                        
                        <div class="form-group col-sm-12">
                            <label for="{{form.password1.id_for_label}}">New Password</label>
                            <input class="form-control" type="password" name="{{form.password1.name}}" placeholder="New Password" autocomplete="new-password" required="" id="{{form.password1.id_for_label}}">
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="{{form.password2.id_for_label}}">New Password (Again)</label>
                            <input class="form-control" type="password" name="{{form.password2.name}}" placeholder="New Password (Again)" autocomplete="new-password-again" required="" id="{{form.password2.id_for_label}}">
                        </div>
                        <input class="btn btn-primary ml-2" type="submit" name="action" value="{% trans 'change password' %}"/>
                    </form>
            </div>
        </div>
    </div>
</div>
</div>
    {% endif %}
{% endblock %}