{% extends "account/base.html" %}
{% load static crispy_forms_tags %}
{% load i18n %}
{% block title %}Reset Password{% endblock title %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-sm-4 col-md-6 col-lg-4">
      <div class="card card-signin">
          <div class="card-body">
    {% comment %} <h1>{% trans "Password Reset" %}</h1> {% endcomment %}
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}


    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset signup form-signin">
        <img alt="" class="img-fluid mx-auto d-block" src="{% static 'images/chatty.png' %}" width="72px" height="72px">
        <p>Forgotten your password? Enter your e-mail address below, <br>and we'll send you an e-mail allowing you to reset it.</p>

        {% csrf_token %}
        {{ form|crispy}}
        <input type="submit" value="{% trans 'Reset My Password' %}" class="btn btn-lg btn-block btn-primary"/>
    </form>
    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
</div>
</div>
</div>
</div>
</div>

{% endblock %}
