{% extends "partials/_base.html" %}
{% load static  %}
{% load i18n %}
{% block title %}Reset Password{% endblock title %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block body %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-sm-8 col-md-6 col-lg-4">
      <div class="card card-signin">
          <div class="card-body">
    {% comment %} <h1>{% trans "Password Reset" %}</h1> {% endcomment %}
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}


    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset signup form-signin">
        <p>Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>

        {% csrf_token %}
        <div class="form-group">
          <label for="id_email">E-mail:</label>
          <input type="email" name="email" class="form-control" placeholder="E-mail address" autocomplete="email" required="" id="id_email">
          <input type="submit" value="{% trans 'Reset My Password' %}" class="mt-3 btn btn-block btn-primary"/>
        </div>
    </form>
    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
</div>
</div>
</div>
</div>
</div>

{% endblock %}
