{% extends 'partials/_base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock title %}

{% block body %}
<section class="section-conten padding-y bg">

    <div class="container">
        <div class="row">
            {% include 'partials/_dashboard_side_bar.html' %}
        <main class="col-md-9">
            <article class="card">
            <header class="card-header">
                <strong class="d-inline-block">Logged in as:</strong>
                <span>{{request.user}}</span>
            </header>
            <div class="card-body">
                <div class="row"> 
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body text-center">
                              <h5 class="card-title">Total Order{{orders|pluralize}}</h5>
                              <p class="card-text font-weight-bold">{{orders_count}}</p>
                              <a href="{% url 'home:myorder' %}" class="">View orders</a>
                            </div>
                          </div>
                    </div>
                    <div class="col-md-6">

                        <div class="card">
                            <div class="card-body text-center">
                              <img class="rounded-circle" height=50 width=50 src={{request.user.image_url}} /><br>
                              <span class="card-text">{{request.user.email}}</span><br>
                              <span class="card-text">{{request.user.mobile_no}}</span>
                            </div>
                          </div>
                    </div>
                </div> <!-- row.// -->
            </div> <!-- card-body .// -->
            </article> <!-- order-group.// --> 
        </main>
    </div> <!-- row.// -->
    </div>

    
</section>

{% endblock body %}
