.main-container{
    height: 100%;
    min-height: 100vh;
}

.input-spinner .btn {
    width: 32px !important;
}
/* .btn-light:not(:disabled):not(.disabled):active, 
.btn-light:not(:disabled):not(.disabled).active, 
.show > .btn-light.dropdown-toggle{
    background: none;
    
} */