{% extends 'partials/_base.html' %}
{% load static %}
{% block title %}Checkout{% endblock title %}

{% block body %}
<section class="section-content padding-y bg">
    <div class="container">
    
    
    
    <!-- ============================ COMPONENT 2 ================================= -->
    <div class="row">    
        <article class="card mb-6 col-md-6 table-responsive">
        <div class="card-body">
            <h4 class="card-title mb-4">Contact info</h4>
            <form method="post">
              {% csrf_token %}
              {% include 'partials/_form_errors.html' %}
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label>First name</label>
                        <input type="text" placeholder="Type here" class="form-control" readonly value={{request.user.first_name}}>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Last name</label>
                        <input type="text" placeholder="Type here" class="form-control" readonly value={{request.user.last_name}}>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Phone</label>
                        <input type="text" class="form-control" readonly value={{request.user.mobile_no}}>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Email</label>
                        <input type="email" placeholder="example@gmail.com" class="form-control" readonly value={{request.user.email}}>
                    </div>
                    <div class="form-group col-sm-6">
                      <label>{{form.address_line_1.label}}</label>
                      {{form.address_line_1}}

                  </div>
                  <div class="form-group col-sm-6">
                    <label>{{form.address_line_2.label}}</label>
                    {{form.address_line_2}}
                </div>
              <div class="form-group col-sm-4">
                <label>{{form.city.label}}</label>
                {{form.city}}
            </div>
                <div class="form-group col-sm-4">
                  <label>{{form.state.label}}</label>
                  {{form.state}}
              </div>
              <div class="form-group col-sm-4">
                <label>{{form.zip_code.label}}</label>
                {{form.zip_code}}
              </div>
            
                </div> <!-- row.// -->	
        </div> <!-- card-body.// -->
        </article> <!-- card.// -->
    

           <aside class="col-md-6">
                <div class="card table-responsive" style="height: 500px">
              <table class="table table-borderless table-shopping-cart overflow-auto">
              <thead class="text-muted">
              <tr class="small text-uppercase">
                <th scope="col" width>Product</th>
                <th scope="col" class="text-center">Quantity</th>
                <th scope="col" width="">Price</th>
              </tr>
              </thead>
              <tbody>
                  {% for order_item in order.orderitem_set.all %}
              <tr>
                  <td class="mx-0">
                      <figure class="itemside align-items-center">
                          <div class="aside"><img src="{{order_item.product.image_url}}" class="img-sm"></div>
                          <figcaption class="info">
                              <a href="{{order_item.product.get_absolute_url}}" class="title text-dark">{{order_item.product.name}}</a>
                              <p class="text-muted small">{% if order_item.size %}Size: {{order_item.size.name}}{% endif %} <br> 
                                {% comment %} {% if order_item.size %}Color: {{order_item.color.name}}{% endif %}</p> {% endcomment %}
                          </figcaption>
                      </figure>
                  </td>
                  <td class="text-center"> 
                    {{order_item.quantity}}
                  </td>
                  <td> 
                      <div class="price-wrap"> 
                          <var class="price">₦{{order_item.get_total}}</var> 
                          <small class="text-muted"> ₦{{order_item.product.price}} each </small> 
                      </div> <!-- price-wrap .// -->
                  </td>
  
              </tr>
              {% endfor %}
              <tr>
                <td colspan="2" class="text-center"><strong>Total</strong></td>
                <td><strong>₦{{order.get_overall_price}}</strong></td>
              </tr>
              
              </tbody>
              
              </table>
              <div class="px-4 py-4">
                <button type="submit" class="btn btn-primary btn-block"> Place Order </button>
                <a href="{% url 'store:product-list' %}" class="btn btn-outline-dark btn-block"> Continue Shopping </a>

              </div>
            </form>

            {% comment %} <div class="card-body">
                <dl class="dlist-align">
                  <dt>Total price:</dt>
                  <dd class="text-right">₦{{order.get_overall_price}}</dd>
                </dl>
                <dl class="dlist-align">
                  <dt>Tax:</dt>
                  <dd class="text-right"> $10.00</dd>
                </dl>
                <dl class="dlist-align">
                  <dt>Total:</dt>
                  <dd class="text-right text-dark b"><strong>$59.97</strong></dd>
                </dl>
                <hr>
                <p class="text-center mb-3">
                    <img src="{% static 'images/misc/payments.png' %}" height="26">
                </p> {% endcomment %}
                
            {% comment %} </div> <!-- card-body.// --> {% endcomment %}
            </div> <!-- card.// -->
            </aside> <!-- col.// -->
        </div> <!-- row.// -->
    
    <!-- ============================ COMPONENT 2 END//  ================================= -->
    
    
    
    
    </div> <!-- container .//  -->
    </section>
{% endblock body %}