{% extends 'partials/_base.html' %}
{% load static %}
{% block title %}{{product.name}}{% endblock title %}
{% block stylesheets %}
    {{block.super}}
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" type="text/css" />
{% endblock stylesheets %}
{% block body %}
<section class="section-content padding-y bg">
    <div id="message"></div>
    <div class="container">
      {% comment %} {% if product.available_sizes.count >= 1 %}
          {% include 'store/partials/_variation_modal.html' %}
      {% endif %}
     {% endcomment %}
    <!-- ============================ COMPONENT 1 ================================= -->
    <div class="card">
        <div class="row no-gutters">
            <aside class="col-md-6">
    <article class="gallery-wrap"> 
        <div class="img-big-wrap main-image text-center">
           <img id="mainImage"src="{{product.image_url}}">
        </div> <!-- img-big-wrap.// -->
        
    </article> <!-- gallery-wrap .end// -->
    {% if product_gallery %}
    <ul class="thumb">
        <li>
            {% for image in product_gallery %}
                <a class="imageBtn" href="{{image.image_url}}" target="main-image"><img class="imageBox" src="{{image.image_url}}" /></a>
            {% endfor %}
        </li>
    </ul>
    {% endif %}
        </aside>
            <main class="col-md-6 border-left">
    <article class="content-body">
    
    <h2 class="title">{{product.name}}</h2>
    
    <div class="mb-3"> 
        <h2 class="price h4">₦{{product.price}}</h2> 
    </div> 
    
    <p>{{product.description}}</p>
    
    
    <hr>
    {% if not product.stock <= 0 %}

    <form method="post" hx-post="" hx-target="{% if product.available_sizes.count > 1 %}#cartBtnContainer{% else %}{% endif %}">
      {% include 'partials/_form_errors.html' %}


        <div class="row">
          {% if product.available_sizes.count >= 1 %}
            <div class="item-option-select">
                <h6>Variation Available</h6>
                <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                  
                  {% for size in product.available_sizes.all %}
                  <label class="btn btn-light" for="radio" hx-get="{% url 'store:product-detail' product.slug %}?order_item_id={{order_item.pk}}&size_id={{size.id}}" hx-target="#cartBtnContainer">
                    <input type="radio" name="size" name="radio" required value="{{size.id}}" class="form-control" id="id_size_{{forloop.counter}}">
                    {{size.name}}
                  </label>
                  {% endfor %}

                </div> 
            </div>
            {% else %}
            <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
              {% for radio in form.size %}
              <label class="btn btn-light">
                {{radio}}
              </label>
              {% endfor %}
            </div>         
            {% endif %}

        </div> <!-- row.// -->
        <input type="hidden" name="quantity" value="1" />
        <div id="cartBtnContainer">
            {% if product.available_sizes.count > 1 %}
                {% include 'store/partials/_variation_btn.html' %}
            {% elif order_item.quantity >= 1 %}
                {% include 'store/partials/_item_quantity.html' %}
            {% else %}
                {% include 'store/partials/_add_to_cart_btn.html' %}
            {% endif %}
        </div>
      </form>

        <hr>
        {% else %}
            <h5 class="text-danger">Out of stock</h5>
        {% endif %}
    </article> <!-- product-info-aside .// -->
            </main> <!-- col.// -->
        </div> <!-- row.// -->
    </div> <!-- card.// -->
    <!-- ============================ COMPONENT 1 END .// ================================= -->
    
    <br>
    
    {% if reviews %}
    <div class="row">
        <div class="col-md-9">
            <header class="section-heading">
                <h3>Verified Customer Feedback{{reviews|pluralize}} ({{reviews.count}}) </h3>  
            </header>
                <div class="row bg-white">
                    <div class="col-lg-3 col-md-4 my-3">
                        <div class="jumbotron text-center">
                            <h4 class="text-warning">{{product.average_review_rating}}/5.0</h4>

                            <span id="star-lg" class="d-md-none d-lg-block d-sm-block" style="font-size: 20px">{{product.average_review_rating_star}}</span>
                            <span id="star-sm" class="d-lg-none d-md-block d-sm-none" style="font-size: 15px">{{product.average_review_rating_star}}</span>                            
                            
                        </div>
                        <div class="star-5 d-flex align-items-center mb-2">
                            <span class="font-weight-bold">5 <i class="fas fa-star text-warning ml-1 mr-2"></i> ({{product.five_star_count}})</span>
                            <div class="progress ml-3" style="width:118px;">
                                <div class="progress-bar bg-warning" role="progressbar" style="width:{{product.five_star_count}}%" aria-valuenow="{{product.five_star_count}}" aria-valuemin="0" aria-valuemax="{{reviews.count}}"></div>
                            </div>
                        </div>
                        <div class="star-4 d-flex align-items-center mb-2">
                            <span class="font-weight-bold">4 <i class="fas fa-star text-warning ml-1 mr-2"></i> ({{product.four_star_count}})</span>
                            <div class="progress ml-3" style="width:118px;">
                                <div class="progress-bar bg-warning" role="progressbar" style="width:{{product.four_star_count}}%" aria-valuenow="{{product.four_star_count}}" aria-valuemin="0" aria-valuemax="{{reviews.count}}"></div>
                            </div>
                        </div>
                        <div class="star-3 d-flex align-items-center mb-2">
                            <span class="font-weight-bold">3 <i class="fas fa-star text-warning mx-1"></i> ({{product.three_star_count}})</span>
                            <div class="progress ml-3" style="width:118px;">
                                <div class="progress-bar bg-warning" role="progressbar" style="width:{{product.three_star_count}}%" aria-valuenow="{{product.three_star_count}}" aria-valuemin="0" aria-valuemax="{{reviews.count}}"></div>
                            </div>
                        </div>
                        <div class="star-2 d-flex align-items-center mb-2">
                            <span class="font-weight-bold">2 <i class="fas fa-star text-warning mx-1"></i> ({{product.two_star_count}})</span>
                            <div class="progress ml-3" style="width:118px;">
                                <div class="progress-bar bg-warning" role="progressbar" style="width:{{product.two_star_count}}%" aria-valuenow="{{product.two_star_count}}" aria-valuemin="0" aria-valuemax="{{reviews.count}}"></div>
                            </div>
                        </div>
                        <div class="star-1 d-flex align-items-center mb-2">
                            <span class="font-weight-bold">1 <i class="fas fa-star text-warning ml-2 mr-1"></i> ({{product.one_star_count}})</span>
                            <div class="progress ml-3" style="width:118px;">
                                <div class="progress-bar bg-warning" role="progressbar" style="width:{{product.one_star_count}}%" aria-valuenow="{{product.one_star_count}}" aria-valuemin="0" aria-valuemax="{{reviews.count}}"></div>
                            </div>
                        </div>

                        
                    </div>
                    <div class="col-md-8">
                        {% for review in reviews %}
                            <article class="my-3 px-3">
                                <div class="icontext w-100">
                                    {% comment %} <img src="{% static 'images/avatars/avatar1.jpg' %}" class="img-xs icon rounded-circle"> {% endcomment %}
                                    <div class="text">
                                        <span class="date text-muted float-md-right">{{review.updated_at|date:"d.m.Y"}} </span>  
                                        <h6 class="mb-1">{{review.user}} </h6>
                                        <span>{{review.star_rating}}</span>
                                        
                                    </div>
                                </div> <!-- icontext.// -->
                                <div class="mt-3">
                                    <span><strong>{{review.review_title}}</strong></span> 
                                    <p>{{review.comment}}</p>	
                                </div>
                            </article>
                        {% endfor %}
                    </div>
            </div>
        </div> <!-- col.// -->
    </div> <!-- row.// -->
    {% endif %}
    
    </div> <!-- container .//  -->
    </section>

{% endblock body %}

{% block scripts %}
<script type="text/javascript" />
    const mainImage = document.querySelector('#mainImage');
    const imageBoxes = document.querySelectorAll('.imageBox');
    const imageBtn = document.querySelectorAll('.imageBtn');

    imageBoxes.forEach(function(imageBox) {
            imageBox.addEventListener('click', (e) => {
            e.preventDefault();
            console.log(e.target.src)
            mainImage.setAttribute('src', e.target.src)
        })
    })
   


</script>
{% endblock scripts %}
