{% comment %} <style>
  .section-content{
    padding: 0 !important;
  }
</style> {% endcomment %}
{% if messages %} 
<div class="" id="message" hx-swap-oob="true">
  <div class="justify-content-center text-center">
    {% if messages %}
      {% for message in messages %}
        {% if forloop.counter == messages|length %}
        <div class="alert alert-{{ message.tags|default:'danger' }} alert-dismissible fade show" role="alert">
          <strong>{{ message }}</strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
</div>
{% endif %}

<script type="text/javascript">
  // jquery ready start
  $(document).ready(function() {
    // jQuery code
    $(".alert").delay(10000).slideUp(200, function () {
      $(this).alert('close');
      });
  }); 
  // jquery end
  </script>
